/* sets the margin of all the element to 10px on all sides and the background-color to black */
body{
    margin: 10px;
    background-color: black;
}

/* Home section  which has the app name and nav bar. The styling is applied by id */

#home {
    background-color:  red;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
   }

/* Application name inside the home section. The styling is applied by tag name */

  header {
    font-size: 30px;
    color: white;
    float: left;
    padding-left: 2cm;
  }

/* Navigation Bar Container*/

  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
/* Navigation Bar Buttons */
  .topmenu {
    color: lightgray;
    background-color:black;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    border: 1mm solid black;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: maroon;
    text-decoration: underline;
  }
  
/* Container for all the three conversion calculator sections   */
#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure {
    float:left; 
    justify-self: left; 
    width:200px
}

img {
    width: 200px;
}

figcaption {
    color:black;
    font-size: 17px;
    text-align: center;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: red;
    color: white;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover {
    cursor: pointer;
}

/* The calculator panel */
.b{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

fieldset {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 900;
    border-color: red;
    box-shadow:   -8px 10px 20px maroon;
    
    /* gap: 8px; */
}


.temperature{
    border-top-color: red;
}

.weight{
    border-top-color: red;
}

.distance{
    border-top-color: red;

}

legend {
    font-size: 35px;
    font-weight: bolder;
}

aside{
    margin-top: 30px;
}



/* Floating icon for the home button */
.iconbutton{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:40px;
    left:0;
    }

.iconbutton img {
    width:30px
}
    
footer {
    display: inline-block;
    color:red;
    /* background-color:rgb(240, 234, 245); */
    margin-top: 20px;
}